<div class="user-profile-container"
     fxLayout="column"
     fxLayoutAlign="space-around">

  <div class="user-info-container"
       fxLayout="row"
       fxLayoutAlign="space-between">

    <mat-card class="side-info mat-elevation-z8"
         fxFlex="30">

      <mat-card-content fxLayout="column"
                        fxLayoutAlign="space-around center"
                        fxLayoutGap="20px">

        <div class="user-profile-image-container" fxLayout="row">
          <img src="../../assets/images/premium-icon-profile.png"
               alt="profile image">
        </div>

        <div fxLayout="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="20px">

          <div>Username</div>

          <div>user Role</div>

          <div>Edit profile</div>

        </div>

      </mat-card-content>

    </mat-card>

    <mat-card class="total-info mat-elevation-z8"
         fxFlex="68">

      <mat-card-content fxLayout="column"
                        fxLayoutAlign="space-around start"
                        fxLayoutGap="30px">

        <div class="column-item">
          <div class="item-title">Information</div>
          <div class="custom-divider"></div>
        </div>

        <div class="column-item"
             fxLayout="row"
             fxLayoutAlign="flex-start center"
             fxLayoutGap="30%">

          <div fxLayout="column"
               fxLayoutAlign="space-between"
               fxLayoutGap="10px">

            <div class="item-title">Email</div>
            <div class="item-value">some@dfg.com</div>

          </div>

          <div fxLayout="column"
               fxLayoutAlign="space-between"
               fxLayoutGap="10px">

            <div class="item-title">Username</div>
            <div class="item-value">Some_username</div>

          </div>

        </div>

      </mat-card-content>

    </mat-card>

  </div>

  <div class="posts-container">

  </div>

</div>

